Custom_Header {
  dock: top;
  height: 3;
  padding: 0 3;
  align: left middle;
}

#engine-label {
  content-align: left middle;
  color: $primary;
  margin-top: 1;
  dock: left;
}

#engine {
  height: 1;
  border: none;
  padding: 0;
  margin: 1;
  width: auto;
}

#engine SelectCurrent {
  height: 1;
  width: 24;
  border: none;
  padding: 0 1;
  background: $background;
}

#engine SelectCurrent #label {
  color: $primary;
}

#engine SelectCurrent .arrow {
  color: $primary;
}

#engine:focus SelectCurrent {
  background: $primary 20%;
}

#engine > SelectOverlay {
  border: none;
  width: auto;
  padding: 0;
  background: $surface;
}

#engine > SelectOverlay .option-list--option {
  padding: 0 1;
}

#app-title-container {
  align: center middle;
  height: auto;
}

#app-title {
  offset: -11 0;
  color: $primary;
  border: none;
  width: auto;
  margin-top: 1;
  text-style: bold;
}

#submit {
  dock: right;
  background: $background;
  min_width: 13;
  height: 3;
  color: $primary;
  border: round $primary;
}

#submit:hover {
  border: round $accent;
  color: $accent;
}

#submit:focus {
  text-style: bold;
  border: round $accent;
  color: $accent;
}

LoadingIndicator {
  color: $accent;
  background: $background;
}

Screen {
  overflow: hidden;
  padding: 1 0 0 0;
}

Translation_Panel {
  height: 1fr;
  width: 100%;
  overflow: hidden;
  padding: 0 1 1 1;
}

TextArea {
  width: 1fr;
  height: 100%;
  margin: 0 1;
  padding: 1 2;
  border: tall $foreground 20%;
  border-title-color: $foreground 100%;
}

TextArea:focus {
  border: tall $border;
  border-title-color: $border;
}

Footer {
  background: $boost;
}
